Package: com.developlab.batteryinfo
Name: Battery Info
Version: 1.1.2
Architecture: iphoneos-arm
Description: Battery information
Maintainer: developlab
Author: developlab
Section: Utilities
Depends: firmware (>= 12.2) | ${LIBSWIFT}
