Package: com.developlab.batteryinfo.helper
Name: BatteryHelper
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: developlab
Author: developlab
Section: System
Tag: role::developer
